@import "normalize.css";
body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
  Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  position: relative;

}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

#intro-section {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

.section {
  height:100vh;
  /*background-color: rgba(255,0,0,0.3);*/
  /*border: 2px solid #FFF;*/
  overview: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section h1 {
  position: relative;
}

.react-logo {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

.section-link {
  flex-direction: row;
}

.section-link a {
  padding: 20px;
}

.section--left-right {
  flex-direction: row;
}

.iphone-demo {
  flex-basis: 0;
  flex-grow: 1;
}

.iphone-demo-frame {
  height: 630px;
  width: 300px;
  align-self: center;
}

.iphone-demo-frame .iphone-demo-screen {
  position: absolute;
  top: 90px;
  left: 25px;
}

.feature-description {
  flex-basis: 0;
  flex-grow: 1;
}

.android-robot {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#slider-control {
  padding: 3px;
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-100%, 0%);
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}
